@import "../abstracts/variables";

.case__item {

  background-color: black;
  position: relative;
  height: 50vh;
  width: 33.3333333333vw;
  overflow: hidden;
  cursor: pointer;


  &:last-child {
    width: 35vw;
  }

  &:hover {
    img {
      opacity: 0.5;
    }
  }

  .case__image {
    position: absolute;
    perspective: 1000px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.5);
    animation: ZoomOut 1s forwards;
    animation-delay: 4.2s;
    transition: all 0.5s ease-in-out;
  }

  .case__content {
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    color: $color-white;
    line-height: 4rem;

    h3 {
      font-size: $medium-font-size;
      color: darken($color: $color-white, $amount: 10);
    }
    h2 {
      font-size: $large-font-size;
    }
  }
}

.case__item:nth-child(2) .case__image {
  animation-delay: 4.5s;
}

.case__item:nth-child(3) .case__image {
  animation-delay: 4.8s;
}
@keyframes ZoomOut {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
