@import "../abstracts/variables";

.banner {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: transparent;
  transition: transform 0.3s;


  h2 {
    position: relative;
    cursor: default;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 2rem;
    // margin-bottom: 2.45rem;
    letter-spacing: 1px;
    color: $color-white;
    mix-blend-mode: difference;
    z-index: 10;
  }

  .line {
    position: relative;
    margin-bottom: 0px;
    height: 7rem;
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  span {
    position: absolute;
    z-index: 10;
  }

  &__more {
    position: absolute;
    top: calc(var(--vh, 1vh) * 12);
    font-size: 2.35rem;
    letter-spacing: -1.5px;
    width: fit-content;

    svg {
      border: 2px solid $color-black;
      background-color: transparent;
      border-radius: 100px;
      height: 4.25rem;
      width: 4.25rem;
      padding: 0.5rem;
      margin-left: 1.5rem;
      transition: 0.4s ease-in-out;
    }

    &:hover {
      & svg {
        background: $color-black;
        fill: $color-white;
      }
    }
  }
}

.dropDown {
  transform: translateY(50vh);
}
