@import "../abstracts/variables";

.cases {
  
  position: relative;
  cursor: pointer;
  width: 100vw;
  overflow: hidden;
  transition: transform 0.4s;

  }

  .dropDown {
    transform: translateY(50vh);
  }
  

// CASE NAVIGATION
.cases__nav {
  &__prev,
  &__next {
    background-color: rgba($color: $color-white, $alpha: 0.1);
    position: absolute;
    bottom: 2rem;
    z-index: 2;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba($color: $color-white, $alpha: 0.15);
    }
  }

  &__prev {
    left: 3%;
  }
  &__next {
    right: 3%;
  }
  &__hidden {
    background-color: rgba($color: $color-white, $alpha: 0.1) !important;

    svg {
      fill: darken($color: $color-white, $amount: 50) !important;
      cursor: default;
    }
  }

  svg {
    height: 5rem;
    width: 5rem;
    fill: $color-white;
  }
}

.cases_slider {
  width: fit-content;
}

.cases__scroll {
  width: 6000px;
  display: flex;
  // flex-wrap: wrap;
  transition: transform .8s cubic-bezier(.19,.57,.16,.87);
  // white-space: nowrap;
  overflow-Y: scroll;
  // transform: translate3d(0px, 0px, 0px);
  background-attachment: scroll;
}
