// FIRST LEVEL CONTAINER
.container {
  max-width: 77.5vw;
  position: relative;
  // margin-left: 10vw;
  margin: 0 auto;
}

// FLEX

.flex {
  display: flex;
  height: 100%;
}

.space-between {
  justify-content: space-between;
}

.h-center {
  align-items: center;
}
