@import "../abstracts/variables";

.main {
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  user-select: none;
  background-color: $color-white;
  
  &__banner-container {
    padding-top: 10rem;
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
  }
}
